* {
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

.main_header {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    background-color: rgb(31, 56, 66);
    font-size: 0.6em;
    text-align: center;
    height: 80px;
    margin: 0;
    padding: 0;
}

.main_header h1 {
    margin-top: 0;
    padding-top: 25px;
    letter-spacing: 2px;
}

.secondary_header {
    text-align: center;
    margin: 0px 4%;
    padding: 10px 0;
}

.secondary_header h2 {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 15px;
}

.secondary_header p {
    font-size: 0.9em;
    color: rgb(163, 163, 163);
    margin-top: 0px;
}

.contact_info {
    background-color: rgb(61, 88, 99);
    display: flex;
    border:none;
    padding: 10px 4% 20px ;
    margin: 0;
}

.contact_info legend, .newsletter legend {
    font-size: 1.1em;
}
.contact_info legend {
    color: white;
}
.heading {
    display: flex;
    margin-bottom: 10px;

}

.contact_info label {
    font-size: 0.8em;
    color: rgb(231, 231, 231);
    padding-bottom: 8px;
}

.contact_info input, textarea {
    background-color: rgb(240, 240, 240);
    border:none;
    width: 100%;
    padding:8px 15px 10px;
    font-size: 0.8em;
    color: rgb(117, 117, 117);
    border-radius: 5px;
}
select {
    font-size: 0.6em;
    color: rgb(202, 201, 201);
}
.select {
    background-color: rgb(240, 240, 240);
    border:none;
    width: 100%;
    height: 32px;
    font-size: 0.6em;
    color: rgb(117, 117, 117);
    border-radius: 5px;
    padding-left: 15px;
}

input:focus, textarea:focus, select:focus {
    border:none;
    outline: none;
    border: solid 2px rgb(209, 173, 11);
}

input[name="zip"] {
    width: 50%;
}

::placeholder {
    font-size: .6em;
    text-align: right;
    align-content: center;
    color: rgb(202, 201, 201);
    font-style: italic;
}

.newsletter {
    border:none;
    border-bottom: solid 2px rgb(31, 56, 66);
    margin: 0 4% 10px;
    padding: 10px 0 10px 0;
    font-size: 1.1em;
}
.newsletter label {
    display: inline-block;
    font-size: 0.7em;
    color: rgb(143, 143, 143);
    padding-bottom: 20px;
}
.newsletter .n_headings {
    font-size: 0.8em;
    padding-bottom: 10px;

}

textarea {
    height: 100px;
    transition: background-color 1s ease;
    background-color: rgb(61, 88, 99);
}

textarea:focus {
    background-color: rgb(231, 231, 231);
}


input[type="radio"], input[type="checkbox"] {
    margin-right: 10px;
}

button {
    transition: background-color 0.5s ease;
    background-color: rgb(31, 56, 66);
    color: white;
    padding: 15px 0;
    border-radius: 5px;
    width: 92%;
    margin: 0 4%;
    font-weight: bold;
}

button:hover {
    background-color: rgb(209, 173, 11);
    cursor: pointer;
}

.main_footer {
    background-color: rgb(31, 56, 66);
    height: 50px;
}
.main_footer p {
    font-size: 0.6em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 20px 0;
    padding-top: 18px;
}
